---
layout: front
title: Home
---

    <!-- Work and Contact -->
    <div class="front-full-width-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 front-full-width-text">
                    <h3>Summary</h3>
                    <ul>
                      <li>Associate Professor. Director of Graduate Studies.
                      <ul>
                         <li> <a href="http://www.cse.buffalo.edu/">Department
                         of Computer Science and Engineering</a>, 
                         <li> <a href="http://www.buffalo.edu">State University
                         of New York at Buffalo</a>.
                      </ul>
                      <li> Education:
                      <ul>
                         <li> Ph.D. in <a href="http://www.cs.umn.edu">Computer
                         Science and Engineering</a>, 
                         <li> M.S. in <a
                         href="http://www.math.umn.edu">Mathematics</a>,<br> 
                              -- both from <a
                              href="http://www.umn.edu">University of Minnesota,
                              Twin Cities</a>, 2001.
                         <li> B.S. 1995, <a
                         href="http://www.cse.hcmut.edu.vn">Computer
                         Engineering</a>, <a href="http://www.hcmut.edu.vn">Ho
                         Chi Minh city University of Technology</a>, Vietnam.
                      </ul>
                      <li> <a href="CV/cv.pdf">Curriculum Vitae</a>, <span
                      class="label label-warning">often not up to date</span>
                      <li> Current research interests: Switching networks, group testing, database join algorithms.
                    </ul>
                </div>
                <div class="col-sm-5 front-full-width-text fadeInUp">
                    <h3>Contact Information</h3>
                    <div>
                      <p><i class="fa fa-map-marker"></i> Mailing Address:<br>
                         Department of Computer Science and Engineering,
                         SUNY Buffalo<br>
                         338L Davis Hall<br>
                         Buffalo, NY 14260-2500, U.S.A.</p>
                      <p><i class="fa fa-phone"></i> Phone: 716 645 4750</p>
                      <p><i class="fa fa-envelope"></i> Email: hungngo [at] buffalo [dot] edu</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Recent Papers -->
      <div class="front-full-width-text">
      <div class="container">
      <h3>Recent papers</h3>
      <ul>
        <li> Dung Nguyen, Molham Aref, Martin Bravenboer, George Kollias, Hung Q. Ngo, Christopher Ré, Atri Rudra, "Join Processing for Graph Patterns: An Old Dog with New Tricks".
        [ <a href="http://arxiv.org/abs/1503.04169">ArXiV version</a> ]
        <li> Mahmoud Abo Khamis, Anna C. Gilbert, Hung Q. Ngo, Atri Rudra,
             "Sparse Approximation, List Decoding, and Uncertainty Principles",
        [ <a href="http://arxiv.org/abs/1404.5190">ArXiV version</a> ]
        <li> Mahmoud Abo Khamis, Hung Q. Ngo, Christopher Ré, Atri Rudra, 
             "Joins via Geometric Resolutions: Worst-case and Beyond", 
             <a href="http://www.sigmod.org/2015/">PODS 2015</a>.
            [ <a href="http://arxiv.org/abs/1404.0703">ArXiV version</a> ]
        <li> Hung Q. Ngo, Atri Rudra, "Efficiently decodable group testing," 
             Encyclopedia of Algorithms, 2015.
        <li> Yingbo Zhou, Utkarsh Porwal, Ce Zhang, Hung Q. Ngo, XuanLong Nguyen, 
             Christopher Ré, Venu Govindaraju, "Parallel feature selection inspired by group testing,"
             <a href="http://nips.cc/Conferences/2014/">NIPS 2014</a>.
             [ <a href="http://www.cse.buffalo.edu/~hungngo/papers/nips14.pdf">pdf</a> ]
        <li> Nikhil Londhe, Vishrawas Gopalakrishnan, Aidong Zhang,                  
             Hung Q. Ngo, and Rohini Srihari, 
             "Matching Titles with Cross Title Web-Search Enrichment
             and Community Detection"
             <a href="http://www.vldb.org/2014/">VLDB 2014</a>. 
             [ <a href="papers/vldb14.pdf">pdf</a> ]
        <li> Hung Q. Ngo, Dung Nguyen, Christopher Ré, Atri Rudra, "Beyond
             Worst-Case Analysis for Joins with Minesweeper,"
             <a href="http://www.sigmod.org/2014/">PODS 2014</a>.
        [ <a href="http://arxiv.org/abs/1302.0914">ArXiV version</a> ]
        <li> Hung Q. Ngo, Christopher Ré, Atri Rudra, "Skew Strikes Back: New
        Developments in the Theory of Join Algorithms", <a
        href="http://www.sigmod.org/publications/sigmod-record/1312">SIGMOD
        Records</a>, vol. 42 (4), 2013. 
        [ <a href="http://arxiv.org/abs/1310.3314">ArXiV Version</a> ]
        <li>Denisa Duma, Mary Wootters, Anna C. Gilbert, Hung Q. Ngo,
        Atri Rudra, Matthew Alpert, Timothy J. Close, Gianfranco Ciardo,
        and Stefano Lonardi,
        "Accurate Decoding of Pooled Sequenced Data Using Compressed Sensing," 
        <a href="http://algo2013.inria.fr/wabi.shtml">WABI 2013</a>.
        [ <a href="http://www.cs.ucr.edu/~stelo/papers/WABI13.pdf">pdf</a> ]
        <li> Hung Q. Ngo, Thanh-Nhan Nguyen, "Linear Programming Analysis of
        Switching Networks," Handbook of Combinatorial Optimization, 2013.
        <li> Anna Gilbert, Hung Q. Ngo, Ely Porat, Atri Rudra, Martin Strauss,
        "l2/l2-foreach sparse recovery with low risk," <a
        href="http://www.icalp2013.lu.lv/">ICALP 2013</a>.
        [ <a href="http://arxiv.org/abs/1304.6232">ArXiV Version</a> ]
        <li> Liang Ge, Jing Gao, Hung Q. Ngo, Kang Li, Aidong Zhang,
        "On Handling Negative Transfer and Imbalanced Distributions in Multiple
        Source Transfer Learning," SIAM Conference on Data Mining (<a
        href="http://lamda.nju.edu.cn/conf/sdm13/papers.html">SDM 13</a>) <br>
        Invited to <a
        href="http://onlinelibrary.wiley.com/journal/10.1002/(ISSN)1932-1872">the
        SAM</a> as one of the best papers from SDM 2013.
        <li> Hung Q. Ngo, Duong Hieu Phan, and David Pointcheval,
        "Black-box Trace&amp;Revoke Codes," Algorithmica, 
        Volume 67, Issue 3 (2013), Page 418--448.
        [ <a href="http://www.di.ens.fr/users/pointche/Documents/Papers/2013_algorithmica.pdf">pdf</a> ]
        <li> 
        Hung Q. Ngo, Ely Porat, Christopher Ré, and Atri Rudra, Worst Case
        Optimal Join Algorithms, 
        <a href="http://www.sigmod.org/2012/">PODS 2012</a>.
        (<span style="color: rgb(0, 0, 0); font-weight: bold;">Best Paper
        Award!</span>) [ <a href="papers/paper49.Ngo.pdf">conf version</a> ]
        [ <a href="http://arxiv.org/abs/1203.1952">preliminary full version</a> on ArXiv ]
        <br>
        Invited to Journal of the ACM 
        <li> Hung Q. Ngo, Ely Porat, and Atri Rudra, 
        Efficiently Decodable Compressed Sensing by List-Recoverable Codes and
        Recursion, <a href="http://stacs2012.lip6.fr/">STACS 2012</a>.
        [ <a href="http://drops.dagstuhl.de/opus/volltexte/2012/3401/">pdf</a> ]
        <li> Hung Q. Ngo, Ely Porat and Atri Rudra. Efficiently Decodable
        Error-Correcting List Disjunct Matrices and Applications. <a
        href="http://icalp11.inf.ethz.ch/">ICALP 2011</a>.
        [ <a href="papers/NPR11.pdf">pdf</a> ]
      </ul>
      <h3>Recent Professional Services</h3>
      <ul>
        <li>Associate Editor: <a href="http://www.worldscinet.com/dmaa/dmaa.shtml">Discrete
Mathematics, Algorithms, and Applications</a> (DMAA).</li>

        <li>Recent TPC memberships: 
             <a href="http://www.comsoc.org/confs/infocom/2010/">INFOCOM 2010</a>,
             <a href="http://www.comsoc.org/confs/icc/2010/">ICC 2010</a>,
             <a href="http://www.comsoc.org/confs/infocom/2011/">INFOCOM 2011</a>,
             <a href="http://www.ieee-globecom.org/">GLOBECOM 2011</a>,
             <a href="http://sites.google.com/site/icalp2011gt/home">ICALP 2011's Group Testing Workshop </a>,
             <a href="http://www.comsoc.org/confs/infocom/2012/">INFOCOM 2012</a>,
             <a href="http://www.comsoc.org/confs/infocom/2013/">INFOCOM 2013</a>,
             <a href="http://www.comsoc.org/confs/infocom/2014/">INFOCOM 2014</a>,
             <a href="http://www.comsoc.org/confs/infocom/2015/">INFOCOM 2015</a>,
             <a href="http://www.comsoc.org/confs/infocom/2016/">INFOCOM 2016</a>,
         </li>
        <li> Coding, Complexity, and Sparsity Workshop (<a
href="http://www.math.lsa.umich.edu/conferences/coding/schedule.html">2011</a>,
<a href="https://sites.google.com/site/umccsworkshop2012/">2012</a>, 
<a href="http://eecs.umich.edu/eecs/SPARC2013/index.php">2013</a>).
      </ul>
      </div>
      </div>

        <!-- Testimonials -->
        <div class="testimonials-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 testimonials-title wow fadeIn">
		                <h2>Some Quotes</h2>
		            </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-10 col-sm-offset-1 testimonial-list">
	                	<div role="tabpanel">
	                		<!-- Tab panes -->
	                		<div class="tab-content">
                           {% for quote in site.data.quotes %}
                           {% if forloop.index == 1 %}
	                			<div role="tabpanel" class="tab-pane fade in active" id="tab{{ forloop.index }}">
                           {% else %}
	                			<div role="tabpanel" class="tab-pane fade" id="tab{{ forloop.index }}">
                           {% endif %}
	                				<div class="testimonial-image">
	                					<img src="{{ quote.image }}" alt="" data-at2x="{{ quote.image }}">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"{{ quote.quote }}"<br>
		                                	{% if quote.source %}
                                           {{ quote.source }}<br>
                                       {% endif %}
		                                	<a href="{{ quote.url }}">{{ quote.author }}</a>
		                                </p>
	                                </div>
	                			</div>
                           {% endfor %}

	                		</div>
	                		<!-- Nav tabs -->
	                		<ul class="nav nav-tabs" role="tablist">
                           {% for quote in site.data.quotes %}                         
                           {% if forloop.index == 1 %}
	                			<li role="presentation" class="active">
                           {% else %}
	                			<li role="presentation">
                           {% endif %}
	                				<a href="#tab{{ forloop.index }}"
                              aria-controls="tab{{ forloop.index }}" role="tab" data-toggle="tab"></a>
	                			</li>
                           {% endfor %}
	                		</ul>
	                	</div>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
