---
layout: front
title: Home
---

    <!-- Work and Contact -->
    <div class="front-full-width-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 front-full-width-text">
                    <h3>Summary</h3>
                    <ul>
                      <li>Sep 2017 -- present: VP Research and Query Optimizer Lead at <a href="http://relational.ai">relational<u>AI</u></a>.
                      <li>June 2015 -- Aug 2017: Computer Scientist at <a href="http://www.logicblox.com/">LogicBlox</a>.
                      <li>2001-2017: (Assistant &#x2192; Associate &#x2192; Full) Professor of <a href="http://www.cse.buffalo.edu/">Computer Science and Engineering</a>, <a href="http://www.buffalo.edu">State University of New York at Buffalo</a>.
                      <li> Education:
                      <ul>
                         <li> Ph.D. in <a href="http://www.cs.umn.edu">Computer
                         Science and Engineering</a>,
                         <li> M.S. in <a
                         href="http://www.math.umn.edu">Mathematics</a>,<br>
                              -- both from <a
                              href="http://www.umn.edu">University of Minnesota,
                              Twin Cities</a>, 2001.
                         <li> B.S. 1995, <a
                         href="http://www.cse.hcmut.edu.vn">Computer
                         Engineering</a>, <a href="http://www.hcmut.edu.vn">Ho
                         Chi Minh city University of Technology</a>, Vietnam.
                      </ul>
                    </ul>
                </div>
                <div class="col-sm-5 front-full-width-text fadeInUp">
                    <h3>Professional Information</h3>
                    <div>
                       <p><i class="fa fa-university"></i> Recent TPC memberships:
                         <ul>
                           <li> TPC member: ICDT 2022, PODS 2018--2020, 2026
                           <li> TPC Chair: PODS 2023
                           <li> Co-organizer: <a href="https://simons.berkeley.edu/programs/Logic2023">Logic and Algorithms</a>, Simons Program 2023
                         </ul>
                       </p>
                       <p><i class="fa fa-envelope"></i> Put <code>dot</code>s and
                       <code>@</code> in between a permutation of the the following words:
                       <code>ai</code>
                       <code>hung</code>
                       <code>relational</code>
                       <code>ngo</code>
                       </p>
                       <p><i class="fa fa-graduation-cap"></i> <a href="CV/hqn-cv.pdf">Curriculum Vitae</a>, <span class="label label-warning">often not up to date</span></p>
                       <p><i class="fa fa-book"></i> Current research interests: query optimization, declarative computation.</p>
                    </div>
                </div>
            </div>
        </div>

      <!-- Selected Talks -->
      <div class="front-full-width-text">
      <div class="container">
      <h3>Some awards</h3>
      <ul>
          <li> Best paper awards : COCOON 2008, ICDT 2019, PODS 2012, 2016, 2022
          <li> 10-years Test of Time awards : for papers at PODS 2012, 2015
      </ul>
      </div>
      </div>

      <!-- Selected Talks -->
      <div class="front-full-width-text">
      <div class="container">
      <h3>Selected talks</h3>
      <ul>
          <li>
              [<a href="https://2024.sigmod.org/3_Hung_Ngo.pdf">slides</a>]
              "In Theory In Practice",
              <a href="https://2024.sigmod.org/pods_special.shtml">PODS 2024 Special Event: Unlocking the Secrets:
                  Bridging Theory and Practice.</a>
          <li> Three tutorials at the
              <a href="https://simons.berkeley.edu/workshops/logic-algorithms-database-theory-ai-boot-camp#simons-tabs">"Logic and Algorithms in Database Theory and AI" Boot Camp</a>:
              <ul>
                  <li> [<a href="https://www.youtube.com/watch?v=6ujUAIvw0S4">video</a> and
                        <a href="https://simons.berkeley.edu/sites/default/files/2023-09/LADT23-BC%20Hung%20Ngo%20Slides%201.pdf">slides</a>
                       ] Query Optimization and Evaluation 1: Output Size Bounds and Information Theory
                  <li> [<a href="https://www.youtube.com/watch?v=bdeb6mYDWcI">video</a> and
                        <a href="https://simons.berkeley.edu/sites/default/files/2023-09/LADT23-BC%20Hung%20Ngo%20Slides%202.pdf">slides</a>
                       ] Query Optimization and Evaluation 2: Worst-Case Optimal Join
                      Algorithms
                  <li> [<a href="https://www.youtube.com/watch?v=-9LWpmqs-MM">video</a> and
                        <a href="https://simons.berkeley.edu/sites/default/files/2023-09/LADT23-BC%20Hung%20Ngo%20Slides%203.pdf">slides</a>
                       ] Query Optimization and Evaluation 3: Variable Elimination and Tensor Decomposition
              </ul>
          <li> <em>An Information Theoretic Approach to Estimating Query Size Bounds</em>,
              <a href="https://www.dagstuhl.de/en/program/calendar/semhp/?semnr=22301">Dagstuhl Seminar on Algorithmic Aspects of Information Theory</a>, 2022;
              <a href="https://www.lirmm.fr/~romashchen/seminar-aait.html">Online Seminar on Algorithmic Aspects of Information Theory</a>, 2023.
          <li> [ <a href="https://www.youtube.com/watch?v=hEGpRIPRyWk&list=PL-d3yqkWNfo-ismmYrifP_y4suUDTICU_">video</a> ]
              "<em>On an Information Theoretic Approach to Cardinality Estimation</em>",
              Keynote Talk at
              <a href="https://conferences.inf.ed.ac.uk/edbticdt2022/">ICDT 2022</a>,
              <a href="https://sky.cs.berkeley.edu/">Sky Computing</a> Database Seminar, UC Berkeley, Oct 2022.
          <li> "<em>Answering (Functional Aggregate) Queries via Tensor Decomposition</em>",
              <a href="https://db.khoury.northeastern.edu/activities/">Northeastern Data Lab
                  Seminar</a>, Summer-Fall 2020.
          <li> "<em>Relational optimization</em>", <a href="http://dbai2019.imfd.cl/#">Emerging challenges in databases and AI
                  research</a>. Keynote talk.
          <li>
              [ <a href="https://www.youtube.com/watch?v=5Wd94n2WLks">video</a> ]
              "<em>Machine Learning on Relational Data: a Different Take</em>",
              <a href="https://www.cs.ucla.edu/events/cs-201-jon-postel-distinguished-lecture-machine-learning-on-relational-data-a-different-take-hung-ngo-relational-ai-inc/">John Postel Distinguished Lecture Series</a>, Computer Science Department, UCLA,
              Nov 06th, 2018.
         <li>
             [ <a href="https://www.youtube.com/watch?v=FmDsIVPCAbI">video</a> ]
             [<a href="http://www.cse.buffalo.edu/~hungngo/papers/wcoj-gems.pptx">slides</a> in pptx]
             "<em>Worst-case optimal join algorithms: techniques, results, and
               open problems"</em>",
              Gems of PODS talk at <a href="https://sigmod2018.org/"> PODS 2018</a>,
              keynote at <a href="http://www.amw2018.co/keynotes.html"> AMW
                 2018</a>, lunch seminar at UC Berkeley, GraphDB group at LinkedIn.
         <li>
             [<a href="http://www.cse.buffalo.edu/~hungngo/papers/long-panda-slides.pdf">slides</a>]
             "<em> Shannon-type inequalities, submodular width, and disjunctive
               datalog</em>",
               keynote at <a href="http://highlights-conference.org/london/">HIGHLIGHTS 2017</a>:
               Highlights of Logic, Games, &amp; Automata.
         <li>
             [<a href="http://www.cse.buffalo.edu/~hungngo/papers/faq-insideout.pdf">slides</a>]
                 "<em>Functional Aggregate Queries are FAQs</em>", seminar talk at
              Univ. of Wisconsin, UCSD, Oxford Univ., Univ. of Washington, Stanford.
      </ul>
      </div>
      </div>

      <!-- Selected Papers -->
      <div class="front-full-width-text">
      <div class="container">
      <h3>Selected or Recent Papers</h3>
      <ul>
        <li> Sungjin Im, Ben Moseley, Hung Q. Ngo, Kirk Pruhs,
            "<em>Efficient Algorithms for Cardinality Estimation and Conjunctive Query
                Evaluation With Simple Degree Constraints,</em>",
           <a href="https://2025.sigmod.org/">PODS 2025</a>.
           [<a href="https://arxiv.org/abs/2504.02770">ArXiV version</a>]
        <li> Vasileios Nakos, Hung Q. Ngo and Charalampos Tsourakakis,
            "<em>Targeted Least Cardinality Candidate Key for Relational Databases</em>"
           <a href="https://edbticdt2025.upc.edu/?contents=accepted-papers-icdt.html">ICDT 2025</a>.
           [<a href="https://arxiv.org/abs/2408.13540">ArXiV version</a>]
        <li> Sungjin Im, Ben Moseley, Hung Q. Ngo, Kirk Pruhs,
            "<em>Polynomial Time Convergence of the Iterative Evaluation of Datalogo
                Programs</em>",
           <a href="https://2025.sigmod.org/">PODS 2025</a>.
           [<a href="https://arxiv.org/abs/2312.14063">ArXiV version</a>]
        <li> Mahmoud Abo Khamis, Hung Q. Ngo, Dan Suciu
            "<em>PANDA: Query Evaluation in Submodular Width</em>",
            [<a href="https://arxiv.org/abs/2402.02001">ArXiV version</a>]
        <li> Sungjin Im, Benjamin Moseley, Hung Q. Ngo, Kirk Pruhs,
            "<em>On the Convergence Rate of Linear Datalogo over Stable Semirings</em>",
            ICDT 2024.
            [<a href="https://arxiv.org/abs/2311.17664">ArXiV version</a>]
        <li> Amir Shaikhha, Dan Suciu, Maximilian Schleich, Hung Q. Ngo,
            "<em>Optimizing Nested Recursive Queries</em>",
            SIGMOD 2024.
            [<a href="https://dl.acm.org/doi/pdf/10.1145/3639271">pdf</a>]
        <li> Hung Q. Ngo, "<em>On an Information Theoretic Approach to Cardinality
                Estimation</em>", companion article to the keynote talk at ICDT 2022.
            [ <a href="https://drops.dagstuhl.de/opus/volltexte/2022/15875/">pdf</a> ]
        <li> Yisu Remy Wang, Mahmoud Abo Khamis, Hung Q. Ngo, Reinhard Pichler, and Dan Suciu
            "<em>Optimizing Recursive Queries with Program Synthesis</em>",
           <a href="https://2022.sigmod.org/">SIGMOD 2022</a>.
           [<a href="https://arxiv.org/abs/2202.10390">ArXiV version</a>]
        <li> <span class="label label-info">Best paper award</span>
            Mahmoud Abo Khamis, Hung Q. Ngo, Reinhard Pichler, Dan Suciu, and Yisu Remy
            Wang. "<em>Convergence of Datalog over (Pre-) Semirings</em>",
           <a href="https://2022.sigmod.org/">PODS 2022</a>.
           [<a href="https://arxiv.org/abs/2105.14435">ArXiV version</a>]
        <li> Mahmoud Abo Khamis, Ryan Curtin, Sungjin Im, Ben Moseley,, Hung Q. Ngo, Kirk Pruhs and Alireza
            Samadian, "<em>An Approximation Algorithm for the Matrix Tree Multiplication Problem</em>",
            Mathematical Foundations of Computer Science
            (<a href="https://drops.dagstuhl.de/opus/portals/lipics/index.php?semnr=16204">MFCS 2021</a>)
            [<a href="https://drops.dagstuhl.de/opus/volltexte/2021/14446/pdf/LIPIcs-MFCS-2021-6.pdf">pdf</a>]
        <li> Mahmoud Abo Khamis, Phokion Kolaitis,, Hung Q. Ngo, Dan Suciu
            "<em>Decision Problems in Information Theory</em>",
            <a href="https://icalp2020.saarland-informatics-campus.de/">ICALP 2020</a>,
           [<a href="https://arxiv.org/abs/2004.08783">ArXiV version</a>]
        <li> Mahmoud Abo Khamis, Phokion Kolaitis, Hung Q. Ngo, and Dan Suciu
            "<em>Bag Query Containment and Information Theory</em>",
           <a href="http://www.sigmod2020.org">PODS 2020</a>.
           [<a href="https://arxiv.org/abs/1906.09727">ArXiV version</a>]
        <li> Mahmoud Abo Khamis, Ryan R. Curtin, Benjamin Moseley, Hung Q. Ngo, XuanLong
            Nguyen, Dan Olteanu, and Maximilian Schleich.
            "<em>"On Functional Aggregate Queries with Additive Inequalities"</em>",
           <a href="http://www.sigmod2019.org">PODS 2019</a>.
           [<a href="https://arxiv.org/abs/1812.09526">ArXiV version</a>]
        <li> Mahmoud Abo Khamis, Hung Q. Ngo, Dan Olteanu, and Dan Suciu.
           "<em>Boolean Tensor Decomposition for Conjunctive Queries with Negation</em>",
           <a href="http://edbticdt2019.inesc-id.pt/">ICDT 2019</a>.
           [<a href="https://arxiv.org/abs/1712.07445">ArXiV version</a>]
        <li> <span class="label label-info">Best paper award</span>
            Ahmet Kara, Hung Ngo, Milos Nikolic, Dan Olteanu, and Haozhe Zhang.
           "<em>Counting Triangles under Updates in Worst-Case Optimal Time</em>",
           <a href="http://edbticdt2019.inesc-id.pt/">ICDT 2019</a>.
           [<a href="https://arxiv.org/abs/1804.02780">ArXiV version</a>]
           [<a href="https://arxiv.org/abs/2004.03716">Journal (ArXiV) version</a>]
        <li> Hung Q. Ngo,
           "<em>Worst-case Optimal Join Algorithms: Techniques, Results, and
              Open Problems</em>",
           <a href="http://www.sigmod2018.org">PODS 2018</a>.
           <span class="label label-info">Invited</span>
           [<a href="https://arxiv.org/abs/1803.09930">ArXiV version</a>]
        <li> Mahmoud Abo Khamis, Hung Q. Ngo, Dan Suciu,
           "<em>What do Shannon-type inequalities, submodular width, and
              disjunctive datalog have to do with one another?</em>",
             <a href="http://www.sigmod2017.org">PODS 2017</a>.
             [<a href="https://arxiv.org/abs/1612.02503">ArXiV version</a>]
             [<a href="http://www.cse.buffalo.edu/~hungngo/papers/panda-slides.pdf">Short slides</a>]
             [<a href="http://www.cse.buffalo.edu/~hungngo/papers/long-panda-slides.pdf">Longer slides</a>]
             <span class="label label-info">Invited to Journal of the ACM</span>
        <li> <span class="label label-info">Best paper award</span>
            Mahmoud Abo Khamis, Hung Q. Ngo, Atri Rudra,
           "<em>FAQ: Questions Asked Frequently</em>",
             <a href="http://www.sigmod2016.org">PODS 2016</a>.
             [<a href="http://arxiv.org/abs/1504.04044">ArXiV version</a>]
             [<a href="http://www.cse.buffalo.edu/~hungngo/papers/faq-slides.pdf">Talk slides</a>]
      </ul>
      </div>
      </div>

        <!-- Testimonials -->
        <div class="testimonials-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 testimonials-title wow fadeIn">
		                <h2>Some Quotes</h2>
		            </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-10 col-sm-offset-1 testimonial-list">
	                	<div role="tabpanel">
	                		<!-- Tab panes -->
	                		<div class="tab-content">
                           {% for quote in site.data.quotes %}
                           {% if forloop.index == 1 %}
	                			<div role="tabpanel" class="tab-pane fade in active" id="tab{{ forloop.index }}">
                           {% else %}
	                			<div role="tabpanel" class="tab-pane fade" id="tab{{ forloop.index }}">
                           {% endif %}
	                				<div class="testimonial-image">
	                					<img src="{{ quote.image }}" alt="" data-at2x="{{ quote.image }}">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"{{ quote.quote }}"<br>
		                                	{% if quote.source %}
                                           {{ quote.source }}<br>
                                       {% endif %}
		                                	<a href="{{ quote.url }}">{{ quote.author }}</a>
		                                </p>
	                                </div>
	                			</div>
                           {% endfor %}

	                		</div>
	                		<!-- Nav tabs -->
	                		<ul class="nav nav-tabs" role="tablist">
                           {% for quote in site.data.quotes %}
                           {% if forloop.index == 1 %}
	                			<li role="presentation" class="active">
                           {% else %}
	                			<li role="presentation">
                           {% endif %}
	                				<a href="#tab{{ forloop.index }}"
                              aria-controls="tab{{ forloop.index }}" role="tab" data-toggle="tab"></a>
	                			</li>
                           {% endfor %}
	                		</ul>
	                	</div>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
