---
layout: front
title: Home
---

    <!-- Work and Contact -->
    <div class="front-full-width-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 front-full-width-text">
                    <h3>Summary</h3>
                    <ul>
                      <li>Sep 2017 -- present: Stealth Mode.
                      <li>June 2015 -- Aug 2017: Computer Scientist at <a href="http://www.logicblox.com/">LogicBlox</a>.
                      <li>2001-2017: (Assistant &#x2192; Associate &#x2192; Full) Professor of <a href="http://www.cse.buffalo.edu/">Computer Science and Engineering</a>, <a href="http://www.buffalo.edu">State University of New York at Buffalo</a>.
                      <li> Education:
                      <ul>
                         <li> Ph.D. in <a href="http://www.cs.umn.edu">Computer
                         Science and Engineering</a>, 
                         <li> M.S. in <a
                         href="http://www.math.umn.edu">Mathematics</a>,<br> 
                              -- both from <a
                              href="http://www.umn.edu">University of Minnesota,
                              Twin Cities</a>, 2001.
                         <li> B.S. 1995, <a
                         href="http://www.cse.hcmut.edu.vn">Computer
                         Engineering</a>, <a href="http://www.hcmut.edu.vn">Ho
                         Chi Minh city University of Technology</a>, Vietnam.
                      </ul>
                    </ul>
                </div>
                <div class="col-sm-5 front-full-width-text fadeInUp">
                    <h3>Professional Information</h3>
                    <div>
                       <p><i class="fa fa-university"></i> Recent TPC memberships: 
                         <ul>
                           <li> INFOCOM (2010--2016), ICDT 2017, PODS 2018.
                         </ul>
                       </p>
                       <p><i class="fa fa-envelope"></i> Email: hungngo [at] buffalo [dot] edu</p>
                       <p><i class="fa fa-graduation-cap"></i> <a href="CV/hqn-cv.pdf">Curriculum Vitae</a>, <span class="label label-warning">often not up to date</span></p>
                       <p><i class="fa fa-book"></i> Current research interest: algorithms for (in-)database computation.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Recent Papers -->
      <div class="front-full-width-text">
      <div class="container">
      <h3>Recent papers</h3>
      <ul>
        <li> Mahmoud Abo Khamis, Hung Q. Ngo, XuanLong Nguyen, Dan Olteanu, and Maximilian Schleich.
           "<em>In-Database Learning with Sparse Tensors</em>".
             <a href="http://www.sigmod2018.org">PODS 2018</a>.
           [<a href="https://arxiv.org/abs/1703.04780">ArXiV version</a>]
        <li> Hung Q. Ngo, XuanLong Nguyen, Dan Olteanu, and Maximilian Schleich. 
           "<em>In-Database Factorized Learning</em>".
           In Alberto Mendelzon Workshop (AMW), Montevideo, June 2017.
           [<a href="http://www.cs.ox.ac.uk/dan.olteanu/papers/nnos-amw17.pdf">pdf</a>]
        <li> Mahmoud Abo Khamis, Hung Q. Ngo, Dan Suciu,
           "<em>What do Shannon-type inequalities, submodular width, and
              disjunctive datalog have to do with one another?</em>",
             <a href="http://www.sigmod2017.org">PODS 2017</a>.
             [<a href="https://arxiv.org/abs/1612.02503">ArXiV version</a>]
             [<a href="http://www.cse.buffalo.edu/~hungngo/papers/panda-slides.pdf">Short slides</a>]
             [<a href="http://www.cse.buffalo.edu/~hungngo/papers/long-panda-slides.pdf">Longer slides</a>]
             <span class="label label-info">Invited to Journal of the ACM</span>
        <li> Mahmoud Abo Khamis, Hung Q. Ngo, Atri Rudra,
           "<em>Juggling functions inside a database</em>",
             SIGMOD Records, <a
                 href="https://sigmodrecord.org/issues/special-issue-on-2016-acm-sigmod-research-highlights/">SIGMOD
                 Research Highlights</a>, 2017.
             [<a href="https://arxiv.org/abs/1703.03147">ArXiV version</a>]
        <li> Devansh Arpit, Yingbo Zhou, Hung Q. Ngo, Venu Govindaraju,
           "<em>Why Regularized Auto-Encoders learn Sparse Representation?</em>",
             <a href="http://icml.cc/2016/">ICML 2016</a>.
             [<a href="http://arxiv.org/abs/1505.05561">ArXiV version</a>]
        <li> Mahmoud Abo Khamis, Hung Q. Ngo, Dan Suciu,
           "<em>Computing Join Queries with Functional Dependencies</em>", 
             <a href="http://www.sigmod2016.org">PODS 2016</a>.
             [<a href="http://arxiv.org/abs/1604.00111">ArXiV version</a>]
        <li> Mahmoud Abo Khamis, Hung Q. Ngo, Atri Rudra,
           "<em>FAQ: Questions Asked Frequently</em>",
             <a href="http://www.sigmod2016.org">PODS 2016</a>.
             [<a href="http://arxiv.org/abs/1504.04044">ArXiV version</a>]  
             [<a href="http://www.cse.buffalo.edu/~hungngo/papers/faq-slides.pdf">Talk slides</a>]
             <span class="label label-info">Best paper award</span>
             <span class="label label-info">2016 ACM SIGMOD Research Highlight Award</span>
             <span class="label label-info">Invited to Journal of the ACM</span>
        <li> Dung Nguyen, Molham Aref, Martin Bravenboer, George Kollias, Hung Q. Ngo, Christopher Ré, Atri Rudra, 
           "<em>Join Processing for Graph Patterns: An Old Dog with New
              Tricks</em>". 
             Graph Data-management Experiences &amp; Systems Workshop (GRADES 2015). Co-located with SIGMOD/PODS 2015.
        [<a href="http://arxiv.org/abs/1503.04169">ArXiV version</a>]
        <li> Mahmoud Abo Khamis, Hung Q. Ngo, Christopher Ré, Atri Rudra, 
           "<em>Joins via Geometric Resolutions: Worst-case and Beyond</em>", 
             <a href="http://www.sigmod2015.org">PODS 2015</a>,
             <a
                href="http://dl.acm.org/citation.cfm?id=3014437&picked=prox">TODS
                2016</a>.
            [<a href="http://arxiv.org/abs/1404.0703">ArXiV version</a>]
            <li> Hung Q. Ngo, Atri Rudra, 
               "<em>Efficiently decodable group testing,</em>" 
             Encyclopedia of Algorithms, 2015.
        <li> Yingbo Zhou, Utkarsh Porwal, Ce Zhang, Hung Q. Ngo, XuanLong Nguyen, 
           Christopher Ré, Venu Govindaraju, 
           "<em>Parallel feature selection inspired by group testing,</em>"
             <a href="http://nips.cc/Conferences/2014/">NIPS 2014</a>.
             [<a href="http://www.cse.buffalo.edu/~hungngo/papers/nips14.pdf">pdf</a>]
        <li> Nikhil Londhe, Vishrawas Gopalakrishnan, Aidong Zhang,                  
             Hung Q. Ngo, and Rohini Srihari, 
             "<em>Matching Titles with Cross Title Web-Search Enrichment and
                Community Detection</em>"
             <a href="http://www.vldb.org/2014/">VLDB 2014</a>. 
             [<a href="papers/vldb14.pdf">pdf</a>]
             <li> Hung Q. Ngo, Dung Nguyen, Christopher Ré, Atri Rudra, 
                "<em>Beyond Worst-Case Analysis for Joins with Minesweeper,</em>"
             <a href="http://www.sigmod2014.org">PODS 2014</a>.
        [<a href="http://arxiv.org/abs/1302.0914">ArXiV version</a>]
        <li> Hung Q. Ngo, Christopher Ré, Atri Rudra, 
           "<em>Skew Strikes Back: New Developments in the Theory of Join
              Algorithms</em>", 
           <a href="http://www.sigmod.org/publications/sigmod-record/1312">SIGMOD Records</a>, vol. 42 (4), 2013. 
           [<a href="http://arxiv.org/abs/1310.3314">ArXiV Version</a>]
      </ul>

      </div>
      </div>

        <!-- Testimonials -->
        <div class="testimonials-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 testimonials-title wow fadeIn">
		                <h2>Some Quotes</h2>
		            </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-10 col-sm-offset-1 testimonial-list">
	                	<div role="tabpanel">
	                		<!-- Tab panes -->
	                		<div class="tab-content">
                           {% for quote in site.data.quotes %}
                           {% if forloop.index == 1 %}
	                			<div role="tabpanel" class="tab-pane fade in active" id="tab{{ forloop.index }}">
                           {% else %}
	                			<div role="tabpanel" class="tab-pane fade" id="tab{{ forloop.index }}">
                           {% endif %}
	                				<div class="testimonial-image">
	                					<img src="{{ quote.image }}" alt="" data-at2x="{{ quote.image }}">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"{{ quote.quote }}"<br>
		                                	{% if quote.source %}
                                           {{ quote.source }}<br>
                                       {% endif %}
		                                	<a href="{{ quote.url }}">{{ quote.author }}</a>
		                                </p>
	                                </div>
	                			</div>
                           {% endfor %}

	                		</div>
	                		<!-- Nav tabs -->
	                		<ul class="nav nav-tabs" role="tablist">
                           {% for quote in site.data.quotes %}                         
                           {% if forloop.index == 1 %}
	                			<li role="presentation" class="active">
                           {% else %}
	                			<li role="presentation">
                           {% endif %}
	                				<a href="#tab{{ forloop.index }}"
                              aria-controls="tab{{ forloop.index }}" role="tab" data-toggle="tab"></a>
	                			</li>
                           {% endfor %}
	                		</ul>
	                	</div>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
